@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
.fixed_header {
  overflow-x: auto;
  width: 90%;
  border-collapse: collapse;
}

.fixed_header table {
  border-collapse: collapse;
  position: relative;
}

.fade_div {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  width: 98%;
  height: 400px;
  pointer-events: none;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 400px;

}



.fixed_header thead tr {
  display: block;
  border-radius: 10px;
}

.fixed_header thead {
  border-bottom: 2px solid lightgray;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;
  text-align: left;
  text-align: center;
  width: 200px;
  min-width: 90px;
}

.fixed_header tbody tr:hover {
  background-color: rgba(243, 243, 243, 0.753);
}

.ranking_div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.trainee_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px;
  padding: 8px 16px;
  border-radius: 14px;
}

.trainee_card_column {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.trainee_group_circle {
  height: 32px;
  width: 32px;
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 8px;
}

.search_bar_container {
  display: flex;
  width: 90%;
  margin-top: 16px;
}

.search_bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 12px;
  border-radius: 12px;
  box-shadow: 0 3px 20px -3px #d5dbed;
}

.search_bar:hover {
  box-shadow: 0 3px 20px -3px #c34e964b;
}

.search_bar_input {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
}

.pop-in {
  animation: pop-in 0.5s ease;
  -webkit-animation: pop-in 0.5s ease;
}

.external_link_icon {
  color: #888888;
  cursor: pointer;
  transition: transform .2s;
}

.external_link_icon:hover {
  color: #bbbbbb
}

.external_link_icon:hover {
  transform: scale(1.2)
}

@-webkit-keyframes pop-in {
  from {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
  }
}
